[package]
name = "cli"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.54", features = ["derive"] }
clio = { version = "0.3.5", features = ["clap-parse"] }
core = { path = "../core" }
serde_json = "1.0.149"
