name: Cargo check and run tests

on:
  push:
  pull_request:
  workflow_dispatch: 

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo check --verbose
    - name: Run tests
      run: cargo test --verbose
